{
  "input": {
    "type": "Kinesis",
    "streamName": "snowplow-enriched-good-events-stream",
    "region": "us-east-1"
  },
  "output" : {
    "good": {
      "type": "Postgres",
      "host": "localhost",
      "database": "content_analytics_db",
      "username": "Postgres",
      "password": "Postgres",
      "schema": "atomic",
      "port": 5432
    }
  }
}