@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@700&display=swap");

.heroBanner {
  padding: 4rem 0 0px 0;
  width: 95%;
  margin: auto;
  text-align: center;
  position: relative;
  overflow: hidden;
  background: transparent;
  opacity: 0; /* Initially set the opacity to 0 to hide the content */
  animation: fadeIn 1s ease-in-out forwards; /* Apply the animation */
}

.mainFeature {
  opacity: 0; /* Initially set the opacity to 0 to hide the content */
  animation: fadeIn 1s ease-in-out forwards; /* Apply the animation */
}

.heroTitle {
  font-family: 'Space Grotesk',sans-serif;
  font-weight: 700;
  font-size: 4rem;
  line-height: 1.2;
}

.contentTitle {
  font-family: 'Space Grotesk',sans-serif;
  font-weight: 700;
  font-size: 3rem;
  line-height: 1;
  text-align: center;
}

.contentDescription {
  font-weight: 500;
  width: 75%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: clamp(12px, 3vw, 1rem);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heroDescription {
  font-weight: 500;
  width: 95%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: clamp(12px, 3vw, 1rem);
}

.heroButton {
  grid-column-gap: 1rem;
  background-color: #6356e5;
  border: 1px solid #6356e5;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  padding: 1rem 1.5rem;
  transition: all 0.2s;
  display: flex;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    width: 100%;
    padding: 2rem 1rem;
  }

  .heroDescription {
    width: 100%;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.homepageContent {
  margin-top: 190px;
}

.homepageDetails {
  margin-top: 70px;
}

.flowLogo {
  width: 80%;
  height: 100%;
}

.contentFlow {
  margin-top: 50px;
}

.contentHeading {
  font-weight: 600;
  color: #374053;
  font-size: 1.5rem;
}

.contentDescriptionPage {
  font-size: 1rem;
  color: #5f7287;
  line-height: 1.6;
  margin-top: 0.5rem;
  margin-bottom: 0;
}

.connectcontainer {
  display: flex;
  margin: 50px 0;
}

.contentspace {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.contentspacedata {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.animatefadein,
.contentpara {
  width: 50%;
  max-width: 1000px;
  opacity: 0; /* Initially set the opacity to 0 to hide the content */
  animation: fadeIn 1s ease-in-out forwards; /* Apply the animation */
}

.imagespace {
  width: 35%;
  border-radius: 20px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Apply the fade-in animation when elements come into view */
.fade-in-on-scroll {
  animation: fadeIn 1s ease-in-out forwards;
  animation-delay: 0.2s; /* Optional delay to control when the fade-in animation starts */
}

/* Ensure smooth scrolling between sections */
html {
  scroll-behavior: smooth;
}
