@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
.heroBanner {
  padding: 4rem 0 0px 0;
  width: 95%;
  margin: auto;
  text-align: center;
  position: relative;
  /* overflow: hidden; */
  background: transparent;
  opacity: 0; /* Initially set the opacity to 0 to hide the content */
  animation: fadeIn 1s ease-in-out forwards; /* Apply the animation */
}

.mainFeature {
  opacity: 0; /* Initially set the opacity to 0 to hide the content */
  animation: fadeIn 1s ease-in-out forwards; /* Apply the animation */
}

.heroTitle {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-size: 4rem;
  line-height: 1.2;
}

.highlight {
  background: linear-gradient(to right, rgba(255, 222, 226, 0), #e3ebfc);
  width: fit-content;
  display: inline-block;
  margin-left: 5px;
}

.contentTitle {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  line-height: 1;
  text-align: center;
}

.contentDescription {
  font-weight: 500;
  width: 75%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 30px;
  font-family: "DM Sans", sans-serif !important;
  font-size: 1.125rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heroDescription {
  font-weight: 500;
  width: 95%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 30px;
  font-family: "DM Sans", sans-serif !important;
  font-size: 1.125rem;
}

.heroButton {
  grid-column-gap: 1rem;
  border: 1px solid transparent; /* You can also modify the border color if needed */
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  /* padding: 0rem 1.5rem; */
  transition: all 0.2s;
  display: flex;
  font-weight: 500;
}

/* Style for the "Read docs" button */
.readDocsButton {
  grid-column-gap: 1rem;
  background-image: linear-gradient(#ebebeb, #ebebeb);
  border: none; /* Remove the border */
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  /* padding: 1rem 1.5rem; */
  transition: all 0.2s;
  display: flex;
  color: #000; /* Text color for the button */
  text-decoration: none; /* Remove underlines for text links */
  font-weight: 500;
}

.readDocsButton:hover {
  color: #000;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    width: 100%;
    padding: 2rem 1rem;
  }

  .heroDescription {
    width: 100%;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.homepageContent {
  margin-top: 90px;
}

.homepagecontentdetails {
  margin-top: 0px;
}

.flowLogo {
  width: 80%;
  height: 100%;
}

.contentFlow {
  margin-bottom: 50px;
  padding: 20px;
  background-image: url("../images/bg_grid_2.png");
}

.contentHeading {
  font-weight: 600;
  color: #374053;
  font-size: 2.5rem;
  font-family: "Space Grotesk", sans-serif;
}

.contentDescriptionPage {
  font-size: 1.125rem;
  color: #5f7287;
  line-height: 1.6;
  margin-top: 0.5rem;
  margin-bottom: 0;
}

.learnmore {
  background-color: #fff;
  border-radius: 6px;
  grid-column-gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 1rem 1.5rem;
  transition: all 0.2s;
  display: flex;
  margin-top: 30px;
  width: 35%;
  cursor: pointer;
}

.learnmoretitle {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.2;
  font-family: "DM Sans", sans-serif !important;
}

.learnmore:hover {
  background-color: #ebebeb;
}

.connectcontainer {
  display: flex;
  margin: 50px 0;
}

.contentsubheading {
  color: #3627de;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-family: Space, sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.3;
  padding: 20px 0;
}

.contentspace {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.contentspacedata {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.contentspacedataright {
  width: 58% !important;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.animatefadein,
.contentpara {
  width: 50%;
  max-width: 1000px;
  opacity: 0; /* Initially set the opacity to 0 to hide the content */
  animation: fadeIn 1s ease-in-out forwards; /* Apply the animation */
}

/* .imagespace {
  width: 35%;
  border-radius: 20px;
} */

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Apply the fade-in animation when elements come into view */
.fade-in-on-scroll {
  animation: fadeIn 1s ease-in-out forwards;
  animation-delay: 0.2s; /* Optional delay to control when the fade-in animation starts */
}

/* Ensure smooth scrolling between sections */
html {
  scroll-behavior: smooth;
}

.features {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0rem 0;
  width: 95%;
  /* border: 1px solid black; */
  margin: auto;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.hero {
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
}

.hero-paragraph {
  margin-bottom: 32px;
}

.herobrowser {
  position: relative;
  margin-top: 40px;
  display: flex;
  max-width: 848px;
}

.herobrowserinner {
  position: relative; /* To display bubbles below the browser */
}

.herobrowserinner svg {
  width: 100%;
  height: auto;
  overflow: visible;
}

.bubble1,
.bubble2,
.bubble3,
.bubble4 {
  position: absolute;
}

.bubble1 svg {
  height: auto;
  width: 34px;
}

.bubble2 svg {
  height: auto;
  width: 78px;
}

.bubble3 svg {
  height: auto;
  width: 143px;
}

.bubble4 svg {
  height: auto;
  width: 104px;
}

.bubble1 {
  top: -15px;
  left: 70px;
}

.bubble2 {
  bottom: 0;
  right: -30px;
}

.bubble3 {
  left: -40px;
  bottom: -40px;
}

.bubble4 {
  top: -25px;
  right: -54px;
}

/* Connect container */
.connectcontainer {
  display: flex;
  margin: 50px 0;
  width: 100%; /* Set the width of the main div to 100% */
}

/* Grid layout for contentspace and imagespace */
.contentspace {
  flex: 1; /* Set both contentspace and imagespace to take equal space in the flex container */
  padding: 10px; /* Add padding for better spacing */
}

.imagespace {
  flex: 1; /* Set both contentspace and imagespace to take equal space in the flex container */
  padding: 10px; /* Add padding for better spacing */
  display: flex;
  justify-content: flex-end;
}

.contentspace {
  display: grid;
  align-items: center;
  justify-content: center;
}

.imagespace img {
  /* Set the image to take 100% of the container width */
  width: 80%;
  /* Optionally, you can set a maximum height for the image to control its aspect ratio */
  max-height: 300px;
  height: 300px;
}

@media (min-width: 768px) {
  .hero {
    padding-top: 80px;
    padding-bottom: 120px;
  }

  .hero-paragraph {
    margin-bottom: 40px;
    padding-left: 90px;
    padding-right: 90px;
  }

  .bubble1 svg,
  .bubble2 svg,
  .bubble3 svg,
  .bubble4 svg {
    width: auto;
  }

  .bubble1 {
    top: 85px;
    left: -30px;
  }

  .bubble2 {
    bottom: -8px;
    right: -75px;
  }

  .bubble3 {
    left: -140px;
    bottom: -120px;
  }

  .bubble4 {
    top: -35px;
    right: -110px;
  }
}

.sr .has-animations .isrevealing {
  visibility: hidden;
}

.tapsalesforce {
  position: absolute;
  width: 12%;
  top: 20%;
  left: 7.5%;
  right: 0px;
}

.tapjira {
  position: absolute;
  top: 21%;
  left: 26.5%;
  right: 0;
  width: 10%;
}

.tapslack {
  position: absolute;
  top: 23%;
  left: 45.5%;
  right: 0;
  width: 10%;
}

.tapteams {
  position: absolute;
  top: 22%;
  left: 62.5%;
  right: 0;
  width: 10%;
}

.tapaws {
  position: absolute;
  top: 22%;
  left: 82.5%;
  right: 0;
  width: 8%;
}

.tapmysql {
  position: absolute;
  top: 59%;
  left: 9%;
  right: 0;
  width: 9%;
}

.tappostgresql {
  position: absolute;
  top: 59%;
  left: 27%;
  right: 0;
  width: 9%;
}

.tapquickbooks {
  position: absolute;
  top: 58%;
  left: 45%;
  right: 0;
  width: 10%;
}

.tapgoogleSheet {
  position: absolute;
  top: 57%;
  left: 63%;
  right: 0;
  width: 11%;
}

.tapsalesmate {
  position: absolute;
  top: 55%;
  left: 80.5%;
  right: 0;
  width: 12%;
}

/* Animations */
.animatefadein,
.contentpara {
  width: 85%;
  max-width: 100%;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

.fadeinonscroll {
  animation-delay: 0.5s; /* Adjust the delay as needed */
}

.slideinonscroll {
  animation: slideInFromLeft 1s ease-in-out forwards;
  animation-delay: 0.5s; /* Adjust the delay as needed */
}

.slide-in-bottom-on-scroll {
  animation: slideInFromBottom 1s ease-in-out forwards;
  animation-delay: 0.5s; /* Adjust the delay as needed */
}

.zoom-in-on-scroll {
  animation: zoomIn 1s ease-in-out forwards;
  animation-delay: 0.5s; /* Adjust the delay as needed */
}

/* Media query for smaller screens */
@media screen and (max-width: 996px) {
  .heroBanner {
    width: 100%;
    padding: 2rem 1rem;
  }

  .heroDescription {
    width: 100%;
  }

  .contentspace,
  .contentspacedata,
  .imagespace {
    width: 100%; /* Set to 100% to take full width on smaller screens */
    justify-content: center;
  }
}

.carousel {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.slides {
  display: flex;
  /* Adjust as needed: set flex-wrap to wrap for horizontal scrolling */
  flex-wrap: nowrap;
  /* Change to translateX for horizontal scrolling */
  transform: translateY(0);
  transition: transform 0.3s ease-in-out;
}

.slide {
  flex: 0 0 100%; /* Change 100% to set the width of each slide (e.g., 30% for three slides per view) */
  /* Add additional styling for the slides, e.g., padding, margin, etc. */
}

@media screen and (max-width: 767px) {
  .heroTitle {
    font-size: 2rem;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .heroButton,
  .readDocsButton {
    width: 100%;
    padding: calc(
        var(--ifm-button-padding-vertical) * var(--ifm-button-size-multiplier)
      )
      calc(
        var(--ifm-button-padding-horizontal) * var(--ifm-button-size-multiplier)
      );
  }

  .contentTitle {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .contentDescription {
    margin-top: 10px;
    margin-bottom: 15px;
    line-height: 25px;
    font-size: 1rem;
  }

  .connectcontainer {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
  }

  .contentHeading {
    font-size: 1.75rem;
  }

  .contentFlow {
    padding: 10px;
    margin-top: 30px;
  }

  .contentDescriptionPage {
    font-size: 0.9rem;
  }

  .imagespace img {
    width: 100%;
    max-height: 200px;
    height: 200px;
  }

  .contentspacedataright {
    width: 100% !important;
    justify-content: flex-start;
  }

  .contentpara {
    width: 100% !important;
  }
}
