.features {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0rem 0;
  width: 95%;
  /* border: 1px solid black; */
  margin: auto;
}

.contentTitle {
  font-family: 'Space Grotesk',sans-serif;
  font-weight: 700;
  font-size: 3rem;
  line-height: 1;
  text-align: center;
}

.contentDescription {
  font-weight: 500;
  width: 75%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: clamp(12px, 3vw, 1rem);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flowLogo {
  width: 80%;
  height: 100%;
}

.homepageContent {
  margin-top: 90px;
}
