@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
.features {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0rem 0;
  width: 95%;
  /* border: 1px solid black; */
  margin: auto;
}

.contentHeading {
  font-size: 1.125rem;
  line-height: 1.5;
  color: #696969;
  font-family: "DM Sans", sans-serif !important;
  padding: 5px 5px;
}

.highlight {
  background: linear-gradient(to right, rgba(255, 222, 226, 0), #e3ebfc);
  width: fit-content;
  display: inline-block;
  margin: 0 5px;
}

.contentTitle {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  line-height: 1;
  text-align: center;
}

.contentDescription {
  font-weight: 500;
  width: 75%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: clamp(12px, 3vw, 1rem);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "DM Sans", sans-serif !important;
  font-size: 1.125rem;
}

.flowLogo {
  width: 80%;
  height: 100%;
}

.homepageContent {
  margin-top: 190px;
}

@media screen and (max-width: 767px) {
  .homepageContent {
    margin-top: 50px;
  }

  .contentTitle {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .contentDescription {
    margin-top: 10px;
    margin-bottom: 15px;
    line-height: 25px;
    font-size: 1rem;
  }
}
